// Navigation styles
@import '../../../node_modules/office-ui-fabric-core/dist/sass/References';
@import '../utilities/variables';

$buttonPadding: 1em;

.navigation {
  background-color: $ms-color-gray20;
  font-size: $ms-font-size-16;
  padding: 0.6rem;

  .nav-item {
    &:hover {
      cursor: pointer;
      background-color: $ms-color-gray30;
    }
    &:active {
      background-color: $ms-color-gray40;
    }

    .item-wrap {
      & > * + * {
        margin-left: 0.5em;
      }

      display: flex;
      align-items: center;
      justify-content: center;
    }
    .excelIcon {
      color: $excelColor;
    }
    .dropdown-toggle::after {
      display: none;
    }
    .dropdown-menu {
      margin-top: 0.6rem;
      margin-left: 0;
    }

    padding: 0 $buttonPadding;
  }
}